.container__details__daily-forecast {
  width: 97%;
  height: 18%;
  display: flex;
  padding: 25px 20px;
  justify-content: space-evenly;
  align-items: center;
  margin: 1% 1.5%;
  border: 1px solid var(--light-grey);
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-radius: 22px;
  overflow-x: auto;
  overflow-y: hidden;
}

.container__details__daily-forecast::-webkit-scrollbar {
  display: none;
}

.daily-forecast__card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.daily-forecast__card:hover {
  border: 1px solid var(--light-grey);
  border-radius: 12px;
}

.daily-forecast__card p {
  font-size: 0.7rem;
  color: var(--grey);
  font-weight: 400;
}

.daily-forecast__card i {
  font-size: 2rem;
}

.daily-forecast__card p.day {
  font-size: 0.9rem;
}
